{{ define "body-class" }}
    article-page
    {{/* 
        Enable the right sidebar if
            - Widget different from 'TOC' is enabled
            - TOC is enabled and not empty
    */}}
    {{- $HasWidgetNotTOC := false -}}
    {{- $TOCWidgetEnabled := false -}}
    {{- range .Site.Params.widgets.page -}}
        {{- if ne .type "toc" -}}
            {{ $HasWidgetNotTOC = true -}}
        {{- else -}}
            {{ $TOCWidgetEnabled = true -}}
        {{- end -}}
    {{- end -}}

    {{- $TOCManuallyDisabled := eq .Params.toc false -}}
    {{- $TOCEnabled := and (not $TOCManuallyDisabled) $TOCWidgetEnabled -}}
    {{- $hasTOC := ge (len .TableOfContents) 100 -}}
    {{- .Scratch.Set "TOCEnabled" (and $TOCEnabled $hasTOC) -}}
    
    {{- .Scratch.Set "hasWidget" (or $HasWidgetNotTOC (and $TOCEnabled $hasTOC)) -}}
{{ end }}

{{ define "main" }}
    {{ partial "article/article.html" . }}

    {{ if .Params.links }}
        {{ partial "article/components/links" . }}
    {{ end }}

    <nav class="post-nav">
        <span>{{ with .NextInSection }}&larr; <a class="nav-link" href="{{ .RelPermalink }}">{{ .Title }}</a>{{ end }}</span>
        <span>{{ with .PrevInSection }}<a class="nav-link" href="{{ .RelPermalink }}">{{ .Title }}</a> &rarr;{{ end }}</span>
    </nav>

    <script type="text/javascript">
        // for navigation using left and right button
        document.addEventListener('keyup', function(e) {
          if (e.target.nodeName.toUpperCase() != 'BODY') return;
          var url = false;
          if (e.which == 39) {  // Right arrow
            {{ if .PrevInSection }}
            url = '{{ .PrevInSection.RelPermalink }}';
            {{ end }}
          } else if (e.which == 37) {  // left arrow
            {{ if .NextInSection }}
            url = '{{ .NextInSection.RelPermalink }}';
            {{ end }}
          }
          if (url) window.location = url;
        });
    </script>

    {{ partial "article/components/related-content" . }}
     
    {{ if not (eq .Params.comments false) }}
        {{ partial "comments/include" . }}
    {{ end }}

    {{ partialCached "footer/footer" . }}

    {{ partialCached "article/components/photoswipe" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ if .Scratch.Get "hasWidget" }}{{ partial "sidebar/right.html" (dict "Context" . "Scope" "page") }}{{ end}}
{{ end }}
